@import "variables";
@media screen and (min-width: 768px){
body{
font-family: 'Montserrat', sans-serif; 
background-color: $bg-col;
color: $bodyc;
    a {
    text-decoration: none;
    color: inherit;}
    h4 {
    font-size: 0.99em;
    padding:3px 0 0.1px 1.1px;
    letter-spacing: -0.2px;}
    .container {
    display: grid;
    grid-auto-columns: 40% 30% 30%;
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 8px;
    grid-row-gap: 2px;
    max-width: 993px;
    margin: 0 10px 0 49px;
    background-color: $bg-col;
        header {
        display: flex;
        justify-content: space-between;
        grid-column: 1/4;
        grid-row: 1/2;
        border-bottom: 2px solid #b0e0ea;
        color: $bg-foot;
        padding-top:5px;
        padding-bottom: 4px;
            p {
            margin: -2px 0 0 1px;}
            ul {
            display: flex;
            list-style: none;
            padding-left: 7px;}
            li {
            margin: 20px 7px;
            font-size: 0.8em;}
            .fa-bars{
                display: none;
            }
            button {
            @include header-but(0.71em, $bg-col, $bg-but, 25px, 0 0 0.2em 0, 5px 21px 6.8px 20px);
            align-self: center;
            height: 2em;
            letter-spacing: 0.2px;
            border-style: none;
                &:focus {
                background-color: $f-but;}
            }
            i {
            color: $font;
            font-size: 1.86em;
            padding-top: 14px;
            padding-left: 0;}
        }
        .hero{
            grid-column: 1/2;
            grid-row: 2/3;
            padding: 10px 0 11px 0;
                img{
                width: 100%;}
        }
        .sitebar{
        grid-column: 1/2;
        grid-row: 3/5;
        border-top: 3px solid $row-2;
        background-color: $bg-sb;
        padding-top: 1.5em;
        padding-left:1em;
            ul {
            padding-top: 0.65em;
            list-style-type: none;}
            li {
            font-size: 0.7em;
            letter-spacing: -0.09em;
            margin: .5em 0;
            word-spacing: 2.1px;
            padding-left: 1.8px;}
        }
        main {
        grid-column: 2/4;
        grid-row: 2/4;
        padding-bottom: 1em;
            h1 {
            color:$font; 
            font-weight: 700;
            font-size: 1.65em;
            word-spacing: 0.6px;
            margin-top: .4em;}
            p {
            margin: 0.55em 0;
            padding-top: 0.5em;
            font-size: 0.8em;
            font-weight: 500;
            color: $pg;}
        }
        .help {
        display: flex;
        justify-content: flex-start;
        grid-column: 2/4;
        grid-row: 4/5;
        border: 1.5px solid $help-bord;
        padding: 0.8em;
        margin-top: 3.5em;
           .help-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;}
            .item2 {
            margin-left: 0.82em;}
            .item3 {
            margin-left: 0.8em;}
            h3{
            font-size: 0.97em;
            font-weight: 500;}
            p{
            margin: 0.75em 0 0.89em 0;
            font-size: .65em;}
            button {
                @include header-but (11px, $font, $bg-col, 0, 0 0 -2px 0, 0.55em 0.57em 0.6em 0.55em);
            border: 2px solid $font;
            font-weight: 500;
            cursor: pointer;}
        }
        .gallery {
        display: grid;
        grid-column: 1/3;
        grid-row: 5/7;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-gap: 0.8em;
        margin-top: 0.8em;
            img {
            width: 100%;}
        }
        .sitebar-related {
        grid-column: 3/4;
        grid-row: 5/7;
        padding: 0.7em 1.39em;
        font-size: 1.1em;
            h3{
            padding: 0 0 6.3px 1.1px;
            margin:-1.6px 0 0 0;
            letter-spacing: -0.2px;
            word-spacing: -1.1px;
            border-bottom: 1px solid $help-bord;}
            ul {
            padding: 0.8px 0 0 19.1px;
            line-height: 21.8px;}
            li {
            margin: 2px 0 -8.5px 3px;}
            a {
            font-size: .75em;
            font-weight: 500;
            color: $h3-sr;
            margin-top: -0.28em;}
        }
        footer {
        background-color: $bg-foot;
        grid-column: 1/4;
        grid-row: 7/8;
        text-align: center;
        padding: 1em 0 1.5em 0;
        margin-top: 0.4em;
            h3{
            font-size: 0.97em;
            color: $bg-col;
            margin-bottom: .5em;}
            p {
            font-size: 0.7em;
            margin-bottom: 0.6em;}
        }
}
}
}