@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');
$bg-foot: #9f9c9c;
$bg-c: #cc7474;
$bord: #50c6db;
$pg: #918b8b;
$bodyc: #434343;
$bg-but:#51bb7b;
$f-but: rgba(39, 129, 74, 0.9);
$row-2: #693f7e;
$bg-sb: #f9f9f6;
$help-bord: #d9d9d9;
$h3-sr:#838383;